# Ignore node_modules directory
node_modules

# Ignore build artifacts
dist
build

# Ignore development files
*.log
*.env

# Ignore version control files
.git
.gitignore

# Ignore editor and IDE files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore temporary files
*.swp
*.swo
*.bak
*.tmp

# Ignore documentation files
docs
*.md

# Ignore test files
test
*.spec.js
